.firstpg {

   
    /* background-image: url('../resources/Banner\ Image.png'); */

    display: block;

}
.text
{
    position: absolute;
    padding-left: 400px;
}



.first-line {

    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-top: 180px;



}

.second-line {

    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    text-align: center;


}



/* second pg */
.secondpg {
    display: block;
    align-items: center;
    position: middle;
    background: #FFF;

    /* padding-left: 250px; */

}

.red {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;


}

.red2 {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.black3 {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.img4 {

    padding-left: 250px;
}


.thirdpg {

    width: 100%;
    height: 100vh;
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;

}


/* third pg */
.thirdpg p {
    padding-left: 150px;
}

.second-line3 {

    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    text-align: left;
    padding-top: 150px;
}

.third-line {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.forth-line {
    color: #FFF;
    text-align: left;
    font-size: 20px;
    font-weight: 700;

}




.fourthpg {

    /* align-items: middle; */
    display: block;
    width: 1320px;
    height: 482px;
    align-items: center;
    position: middle;
    /* linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);


}

.four1-1 {
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.four1 {
    padding: 100px 385px 0px 385px;
    text-align: center;
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

}

.four2 {

    margin-left: 600px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    padding: 16px 32px 16px 32px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;

}



/* five pg */

.fivepg {
    display: flex;
    padding-left: 100px;
}

.sec1-l1 {
    color: #F00;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 500;

}

.sec2div {
    border-radius: 460px;
    border: 10px solid red;
    /* margin-right: 50px; */
}

.sec2img {


    /* border: 25px solid #F00; */
    border: 10px solid white;
    width: 364.844px;
    height: 364.844px;
    border-radius: 364px;


}

.sec2 {
    padding-right: 30px;
}

.sec3img {
    width: 140px;
    height: 140px;
    background-image: url('/resources/Group\ 96.png');

}

.sec3-l1 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.sec1-l2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
}

.sec1-l3 {
    color: rgba(7, 2, 17, 0.60);
    width: 393px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}





/* pg six */
.six-sec1 {
    display: block;
    align-items: center;
    position: middle;
    padding-left: 260px;
    padding-right: 260px;
}


.six-l1 {
    padding-top: 100px;
    /* duita page er majhe padding 100 */
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    padding-left: 310px;

}

.six-l2p2 {
    color: #F00;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    padding-left: 160px;
}

.six-l2 {
    color: #070211;
    font-size: 72px;
    font-weight: 900;

}

.six-l3 {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;

}

.six-sec2 {
    display: flex;
    margin-right: 0px;

}
.six-sec22
{
    padding-left: 105px;
}



.siximg2 {
    margin-top: -300px;
    margin-left: -150px;

}

.background-red {
    height: 229px;
    background: #F00;
    margin-top: -230px;

}

.six-sec3 {
    background-image: url('/resources/Rectangle\ 2.png');

}



/* seven pg */

.sevenpg
{ 
    padding-top: 50px ;
    margin-left: 15px;
}
.sec1-3-seven {
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.seven-sec1 {

    display: block;
    display: contents;
  
}
.seven-sec1 p
{
    margin-left: 50px;
}
.sevenIm1 .sevenIm2 {
    display: flex;
}

.sevenIm1 img {
    width: 400px;
    height: 430px;

}

.sevenIm2 img {
    width: 400px;
    height: 430px;

}


.eightpg {
    display: block;
    padding: 0px 240px;
    margin-top: -110px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.eightpg p {
    text-align: center;
}

.eightpg img {
    padding: 0px 350px;
}

.input {
    width: 648px;
    height: 60px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
}

.sub input {
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 400;
}

.sub button {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.sub {
    display: flex;
}

.button {
    width: 210px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

.ninepg p {
    color: #FFF;
    font-size: 24px;

}


.nsec1-1 {
    padding-left: 550px;
}

.nsec1 {
    padding-left: 120px;
    padding-top: 120px;
    padding-bottom: 50px;

}

.nsec3 {
    padding-left: 120px;
    padding-bottom: 50px;

}

.nsec2 {
    padding-left: 33%;
    padding-bottom: 50px;
}

.ninepg {
    width: 1330px;
    height: 609px;
    background: #070211;
}

.ninepg img {
    padding-right: 15px;
}

.nsec1,
.nses2,
.nsec3 {
    display: flex;
}


.nsec3-1 {
    padding-left: 750px;
}

.sevenIm1 img,
.sevenIm2 img {
    padding-left: 25px;
    padding-top: 25px;
}
.hr 
{
 color:  rgba(255, 255, 255, 0.15);
 margin-bottom: 50px;
 width: 1100px;


}
